<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A FitNesse acceptance test template.</string>
	<key>Summary</key>
	<string>A FitNesse acceptance test template.</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>DefaultCompletionName</key>
	<string>MyFixture</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Name of the fixture</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Fixture:</string>
			<key>NotPersisted</key>
			<string>Yes</string>
			<key>Required</key>
			<string>Yes</string>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
</dict>
</plist>
