<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>An empty Swift file, class, struct, protocol or extension.</string>
	<key>Summary</key>
	<string>A Swift file</string>
	<key>SortOrder</key>
	<string>9</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>File</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>File:</string>
			<key>Description</key>
			<string>The name of the file to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>fileType</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>File Type:</string>
			<key>Description</key>
			<string>What kind of Objective-C source to create</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>Empty File</string>
			<key>Values</key>
			<array>
				<string>Protocol</string>
				<string>Class</string>
				<string>Sub Class</string>
				<string>Struct</string>
				<string>Extension</string>
				<string>Enum</string>
				<string>Empty File</string>
			</array>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>extendedClass</string>
			<key>Name</key>
			<string>Class:</string>
			<key>Description</key>
			<string>Extended class.</string>
			<key>Default</key>
			<string>NSObject</string>
			<key>RequiredOptions</key>
			<dict>
				<key>fileType</key>
				<array>
					<string>Sub Class</string>
					<string>Extension</string>
				</array>
			</dict>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>class</string>
		</dict>
	</array>
</dict>
</plist>
